:root {
    --font: 'Roboto', sans-serif;
    --heading-color: #000000;
    --primary-100: #E5F3FF;
    --primary-600: #319DFF;
    --primary-700: #0077E4;
    --primary-800: #005098;
    --grey-100: #EEF0F4;
    --grey-200: #DDE1E8;
    --grey-500: #A9B5C6;
    --grey-600: #7D8FA9;
    --grey-700: #586A84;
    --grey-800: #3B4758;
    --grey-900: #1D232C;
    --White: #FFF;
    --success-100: #CAFBEC;
    --success-600: #0DA678;
    --danger-600: #FF316A;
    --danger-100: #FFE5EC;
    --intro-600: #129199;
    --pale_gradient_green: linear-gradient(182deg, #F2FFF7 0%, #C3F4FF 100%);
    --pale_gradient_peach: linear-gradient(182deg, #FFFCF3 0%, #FFDFDF 100%);
    --pale_gradient_purple: linear-gradient(182deg, #FFF4FD 0%, #CBCDFF 100%);
}