:root {
    --heading-color: #000000;
    --primary-100: #E5F3FF;
    --primary-600: #319DFF;
    --primary-700: #0077E4;
    --primary-800: #005098;
    --grey-100: #EEF0F4;
    --grey-200: #DDE1E8;
    --grey-500: #A9B5C6;
    --grey-600: #7D8FA9;
    --grey-700: #586A84;
    --grey-800: #3B4758;
    --grey-900: #1D232C;
    --White: #FFF;
    --danger-600: #FF316A;
    --intro-600: #129199;
    --pale_gradient_green: linear-gradient(182deg, #F2FFF7 0%, #C3F4FF 100%);
    --pale_gradient_peach: linear-gradient(182deg, #FFFCF3 0%, #FFDFDF 100%);
    --pale_gradient_purple: linear-gradient(182deg, #FFF4FD 0%, #CBCDFF 100%);
}

/* custom scroll-y */

/* ::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
} */

::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

/* end custom scroll-y */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
    font-weight: 500;
}

.ml-0 {
    margin-left: 0 !important;
}

.wrapper {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1470px;
    padding: 0 15px;
    margin: 0 auto;
}

/* top-header */

.top-header {
    padding: 8px 0;
    border-bottom: 1px solid var(--grey-100);
    background: var(--White);
    color: var(--grey-600);
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.left-box {
    display: flex;
    padding-right: 24px;
    border-right: 1px solid var(--grey-100);
}

.left-box:nth-child(2) {
    margin-left: 24px;
}

.box-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-left {
    padding: 2px 4px 2px 0;
}

.dropdown-left {
    padding: 8.13px 6.25px;
}

.text-title {
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.list-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
    padding-right: 24px;
}

.list-right {
    display: flex;
    align-items: center;
}

.right-box {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-left: 1px solid var(--grey-100);
    padding: 0 24px;
    gap: 4px;
}

.right-box:last-child {
    padding-right: 0;
}

.right-icon {
    padding: 1.33px 3.33px;
}

.right-title {
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
}

/* end top-header */

/* main-header */
.main-header {
    padding: 21.5px 0;
    color: var(--grey-700);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.logo-container {
    display: flex;
    align-items: center;
    width: 300px;
    gap: 18px;
}

.bars {
    padding: 5px;
    border-radius: 100px;
}

.bars:hover {
    background-color: var(--grey-100);
    cursor: pointer;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
}

.form-search {
    width: 100%;
    position: relative;
}

.input-search {
    width: 100%;
    padding: 9px 250px 9px 12px;
    border-radius: 20px;
    border: 1px solid var(--primary-600);
    background: var(--White);
}

input[type="text"].input-search::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}

.category-container {
    position: absolute;
    top: 50%;
    right: 58px;
    display: flex;
    width: 180px;
    padding: 0px 12px 0px 20px;
    justify-content: space-between;
    align-items: center;
    transform: translate(0, -50%);
    border-left: 1px solid var(--grey-100);
}

.category-container:hover {
    cursor: pointer;
}

.for-categories {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}

ul.list-categories {
    --translate-y: calc(100% + (39px - 14px) / 2);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(var(--translate-y));
    list-style: none;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 18px 18px;
    ;
    border: 1px solid var(--grey-100);
    background: var(--White);
    box-shadow: 0px 4px 20px 0px rgba(107, 107, 107, 0.10);
}

.wrapper.category-dropdown .form-search {
    z-index: 101;
}

.wrapper.category-dropdown ul.list-categories {
    display: flex;
}

ul.list-categories>li.category-name {
    display: flex;
    width: 180px;
    height: 36px;
    padding: 6px 20px;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}

ul.list-categories>li.category-name.active {
    border-right: 1px solid var(--grey-100);
    border-left: 1px solid var(--grey-100);
    background: var(--primary-100);
}

.category-name:hover {
    background-color: var(--grey-100);
}

.search-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: var(--primary-600);
    padding: 8px 15px;
    border-radius: 0px 20px 20px 0px;
}

.img-search {
    padding: 4px;
}

.user-container {
    margin-right: 10px;
}

.user-option {
    display: flex;
    width: 300px;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.user-cart {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.user-cart:hover {
    cursor: default;
    color: rgb(79, 75, 75);
}

.icon-option {
    padding: 5px;
    position: relative;
}

.icon-user {
    padding: 2.5px 4.17px;
}

.icon-compare {
    padding: 2.25px 1.75px;
}

.icon-listwish {
    padding: 2.65px 1.67px;
}

.icon-cart {
    padding: 2.57px 1.67px;
}

.icon-option:hover {
    border-radius: 100px;
    background-color: var(--grey-100);
}

.goods-money {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
}

.icon-option:hover+.goods-money {
    color: black;
}

.tooltip {
    display: flex;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 4px;
    flex-direction: column;
    align-items: center;
    transition: ease-in-out 0.25s;
    pointer-events: none;
}

.hide-icon {
    width: 8px;
    height: 4px;
    color: var(--grey-900);
}

.tooltip-name {
    padding: 10px;
    gap: 10px;
    white-space: nowrap;
    border-radius: 6px;
    background-color: var(--grey-900);
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    color: var(--White);
    text-align: center;
}

.user-cart:hover .tooltip,
.icon-option:hover .tooltip {
    top: 100%;
    opacity: 1;
}

/* end main-header */

/* sidebar */

.sidebar {
    position: fixed;
    top: 0;
    left: -240px;
    width: 240px;
    height: 100%;
    background: var(--White);
    transition: ease-in-out 0.25s;
    overflow-y: auto;
    scrollbar-width: none;
    /*hidden scroll */
}

.wrapper::before {
    content: "";
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    visibility: hidden;
    pointer-events: none;
}

.wrapper.show-sidebar::before {
    pointer-events: auto;
    z-index: 100;
    visibility: visible;
}

.wrapper.category-dropdown::before {
    background-color: transparent;
    pointer-events: auto;
    z-index: 100;
    visibility: visible;
}

.wrapper.show-sidebar .sidebar {
    z-index: 101;
    left: 0;
}

.sidebar-header {
    padding: 66px 20px 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--grey-100, #EEF0F4);
}

.sidebar-title {
    font-size: 24px;
    line-height: 1;
}

.icon-close {
    padding: 11px;
}

.icon-close:hover {
    background-color: var(--grey-100);
    border-radius: 100px;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--grey-100);
}

.sidebar-menu ul,
.sidebar-menu li {
    list-style: none;
}

.sidebar-item {
    border-bottom: 1px solid var(--grey-100);
}

.sidebar-item:hover {
    cursor: pointer;
}

.item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.item-title {
    color: var(--grey-900);
    font-size: 14px;
    line-height: 1;
}


.item-show {
    padding: 5px 2px;
}

.hide-sub {
    display: none;
}

.sidebar-item.active .hide-sub {
    display: block;
}

.sidebar-item.active .show-sub {
    display: none;
}

.list-subitems {
    display: none;
}

.sidebar-item.active .list-subitems {
    display: flex;
    flex-direction: column;
}

.sub-item {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    align-self: stretch;
}

.sub-item:hover {
    background-color: var(--grey-100);
}

.content-subitem {
    color: var(--grey-700);
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}

/* end sidebar */

/* sub-header-category */

.header-category {
    background-color: var(--primary-600);
}

.list-category {
    position: relative;
    display: flex;
    list-style: none;
}

.main-category {
    cursor: pointer;
    flex: 1 0 0;
    border-right: 1px solid var(--primary-700);
}

.main-category:hover {
    background-color: var(--primary-700);
}

.list-category li:nth-child(8) {
    border-right: none;
}

.content-category {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 0;
    gap: 0 6.25px;
}

.name-category {
    color: var(--White);
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
}

.detail-category {
    z-index: 1;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(0, 100%);
    visibility: hidden;
}

.list-category.active-tv #detail-tv {
    visibility: visible;
}

.list-category.active-phone #detail-phone {
    visibility: visible;
}

.list-category.active-tv .main-category:first-child,
.list-category.active-phone .main-category:nth-child(2) {
    background-color: var(--primary-700);
}

.container-detail {
    padding: 20px 20px 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 6px;
    background-color: var(--White);
    box-shadow: 0px 4px 20px 0px rgba(107, 107, 107, 0.1);
}

.information-category {
    display: flex;
    width: 220px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.container-info {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.title-info {
    color: var(--grey-900);
    font-size: 16px;
    line-height: 1;
}

.option-info {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 170px;
    align-items: center;
    flex-shrink: 0;
    gap: 10px;
}

.item-info {
    width: 100%;
    height: 16px;
    color: var(--grey-700);
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}

.item-info:hover {
    color: var(--grey-900);
}

.img-ads {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.tv-ads {
    width: 512px;
}

.tv-ads {
    width: 420px;
}

/* end sub-header-category */

/* banner and slick */

.banner-container {
    width: 100%;
}

.item-banner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 190px 4.16%;
}

.banner-content {
    max-width: 630px;
}

.banner-heading {
    color: var(--grey-900, #1D232C);
    font-size: 56px;
    font-weight: 300;
    line-height: calc(66/56);
    margin-bottom: 40px;
}

.banner-heading strong {
    font-weight: 500;
}

.btn {
    display: inline-block;
    border: none;
    outline: none;
    text-align: center;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
}

.btn-rounded {
    border-radius: 24px;
    padding: 15px 20px;
}

.btn-primary {
    background-color: var(--primary-600);
    color: var(--White);
}

.banner-image {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

.slick-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex;
    transform: translate(-50%, 0);
    gap: 12px;
    list-style: none;
}

.slick-dots li button {
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: var(--grey-500);
    transition: all 0.2s linear;
}

.slick-dots li button:hover {
    cursor: pointer;
}

.slick-dots li.slick-active button {
    width: 36px;
    background-color: var(--primary-600);
}

/* end banner and slick */

/* intro */

.intro {
    margin: 40px 0;
    background-color: var(--White);
}

.intro-container {
    display: grid;
    padding: 20px 0px;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    border-radius: 6px;
    border: 1px solid var(--grey-100);
}

.intro-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
}

.intro-item:not(:last-child) {
    border-right: 1px solid var(--grey-100);
}

.intro-image {
    padding: 3.33px 6.67px;
}

.intro-content {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.intro-heading {
    color: var(--grey-900);
    font-size: 16px;
    font-weight: 700;
    line-height: calc(19/16);
}

.intro-text {
    color: var(--grey-900);
    font-size: 14px;
    font-weight: 400;
    line-height: calc(16/14);
}

/* end intro */

/* featured-product */
.featured-products {
    margin-bottom: 40px;
}

.container-featured {
    width: 100%;
    max-width: 1490px;
    margin: 0 auto;
    padding: 0 15px;
}

.feature-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feature-header {
    margin-left: 10px;
    margin-right: auto;
    padding: 20px 0 10px 0;
    border-bottom: 1px solid var(--primary-600);
}

.title-content {
    color: var(--grey-900, #1D232C);
    font-size: 24px;
    line-height: 1;
}

/* end feature-product*/



/* product-card */

.container-bigdeals,
.container-bseller,
.container-product {
    position: relative;
    padding: 10px 0 20px 0;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 6px;
    border: 1px solid var(--grey-100);
    background-color: var(--White);
    padding: 20px;
    transition: transform 0.2s ease;
}

.card-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category-product {
    color: var(--grey-700);
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
}

.product-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    color: var(--primary-700);
    font-family: Roboto;
    font-size: 14px;
    line-height: calc(16/14);
    height: 2rem;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: linear 0.25s;
}

.product-img {
    width: 100%;
    height: 200px;
}

.product-card:hover {
    box-shadow: 0px 4px 20px 0px rgba(107, 107, 107, 0.10);
}

.product-card:hover .card-body {
    transform: scale(1.05);
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-price {
    color: var(--grey-900);
    font-size: 18px;
    font-weight: 700;
    line-height: calc(21/18);
}

.action-user {
    position: relative;
}

.icon-product {
    padding-top: 5px;
}

.action-user .icon-content>svg {
    width: 16px;
    height: 16px;
}

.icon-product:not(:last-child) {
    position: absolute;
    opacity: 0;
    top: 0;
    background: transparent;
    transition: ease-in-out 0.25s;
}

.icon-content {
    padding: 10px;
    border-radius: 20px;
    background: var(--grey-200);
}

.icon-product:not(:last-child) .icon-content {
    background-color: var(--White);
    box-shadow: 0px 4px 20px 0px rgba(107, 107, 107, 0.10);
}

.add-compare {
    top: -100%;
}

.product-card:hover .icon-product {
    opacity: 1;
}

.product-card:hover .add-cart .icon-content {
    background-color: var(--primary-600);
}

.product-card:hover .add-listwish {
    top: -100%;
}

.product-card:hover .add-compare {
    top: -200%;
}

.add-listwish .icon-content svg path {
    transition: linear 0.25s;
}

.add-compare .icon-content svg path {
    transition: linear 0.25s;
}

.add-listwish .icon-content:hover>svg path {
    fill: var(--danger-600);
}

.add-compare .icon-content:hover>svg path {
    fill: var(--intro-600);
}

.tooltip-row {
    position: absolute;
    left: 0px;
    bottom: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    opacity: 0;
    margin-left: -4px;
    transform: translate(-100%, 0);
    pointer-events: none;
    transition: linear 0.25s;
}

.tooltip-row svg {
    flex-shrink: 0;
}

.add-cart .icon-content:hover .tooltip-row {
    opacity: 1;
}

.add-listwish .icon-content:hover .tooltip-row {
    opacity: 1;
}

.add-compare .icon-content:hover .tooltip-row {
    opacity: 1;
}

.container-product .slick-slide,
.container-bigdeals .slick-slide,
.container-bseller .slick-slide {
    margin: 0 10px;
}

.pre-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 20px;
    background-color: var(--White);
    position: absolute;
    top: -45px;
    right: 55px;
}

.next-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 20px;
    background-color: var(--White);
    position: absolute;
    top: -45px;
    right: 10px;
}

.pre-item:hover {
    background-color: var(--grey-100);
}

.next-item:hover {
    background-color: var(--grey-100);
}

.slick-arrow.slick-disabled {
    opacity: 0.5;
}

/* end product-card */

/* featured categories */

.featured-categories {
    padding: 10px 0 60px 0;
    background-color: var(--grey-100);
}

.categories-wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
}

.category-card {
    position: relative;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--White);
}

.text-category {
    font-size: 16px;
    line-height: calc(19/16);
}

.img-category {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 199.061px;
    height: 200px;
    position: relative;
    transition: linear 0.25s;
}

.view-detail {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 20px;
    background-color: var(--grey-200);
    padding: 10px;
}

.view-detail>svg {
    width: 16px;
    height: 16px;
}

.img-main {
    position: absolute;
    object-fit: cover;
}

.img-category .img-quad:first-child {
    transform: translateX(-30px);
    z-index: 3;
}

.img-category .img-quad:nth-child(2) {
    transform: translateX(-10px);
    z-index: 2;
}

.img-category .img-quad:nth-child(3) {
    transform: translateX(10px);
    z-index: 1;
}

.img-category .img-quad:nth-child(4) {
    transform: translateX(30px);
}

.category-card:hover .img-category {
    transform: scale(1.05);
}

.category-card:hover .view-detail {
    background-color: var(--primary-600);
}

.view-detail:hover .tooltip-row {
    opacity: 1;
}

/* end featured categories */

/* sub-banner */
.sub-banner {
    padding: 40px 0;
}

.sub-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
}

.subbanner-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    padding: 0 0 0 60px;
    background: var(--pale_gradient_green);
    border-radius: 6px;
}

.subbanner-item:hover {
    box-shadow: 0px 4px 20px 0px rgba(107, 107, 107, 0.10);
}

.subbanner-item:last-child {
    background: var(--pale_gradient_purple);
}

.sub-heading {
    flex-shrink: 0;
    width: 100%;
    max-width: 300px;
}

.sub-title {
    color: var(--grey-900, #1D232C);
    font-size: 30px;
    font-weight: 300;
    line-height: calc(79/60);
}

.sub-title strong {
    font-weight: 500;
}

.sub-image {
    position: absolute;
    top: 15%;
    left: 360px;
    right: 0;
    bottom: 15%;
    display: flex;
    justify-content: center;
}


/* end sub-banner */

/* big-deals */

.text-deal {
    color: var(--danger-600);
}

.price-deal {
    color: var(--grey-900);
    font-size: 12px;
    font-weight: 500;
    line-height: calc(14/12);
    text-decoration: line-through;
}

/* end big-deals */

/* brands */

.brand-container {
    margin-bottom: 40px;
    padding: 40px 0;
    border-radius: 6px;
    border: 1px solid var(--grey-100, #EEF0F4);
    background: var(--White);
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 40px 0;
}

.brand-item {
    height: 80px;
    display: flex;
    justify-self: center;
    align-items: center;
}

.brand-item svg path {
    transition: linear 0.25s;
}

.brand-item:hover svg path {
    fill: var(--grey-900);
}

/* end brands */

/* product-ads */

.product-ads {
    padding: 10px 0 60px 0;
    background: var(--grey-100);
}

.column-type {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
}

.column-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.column-product {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.column-product .product-card {
    flex-direction: row;
    align-items: center;
}

.column-product .card-header {
    gap: 12px;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.product-image {
    transition: linear 0.25s;
}

.product-card:hover .product-image {
    transform: scale(1.05);
}

.product-rate {
    display: flex;
}

/* end product-ads */

/* subscribe */

.subscribe {
    background-color: var(--grey-800);
    padding: 28px 0;
}

.subscriber-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-subscribe {
    width: 544px;
    font-size: 18px;
    line-height: calc(21/18);
    color: var(--White);
    font-weight: 400;
    flex-shrink: 0;
}

.text-underline {
    text-decoration: underline;
}

.text-bold {
    font-weight: 700;
}

.form-subscribe {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 540px;
    flex-shrink: 1;
}

.input-subscribe {
    display: flex;
    width: 100%;
    padding: 9px 60px 9px 12px;
    border-radius: 20px;
    border: 1px solid var(--primary-600);
    background: var(--White);
}

input[type="text"].input-subscribe::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}

.search-subscribe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-600);
    padding: 8px 15px;
    border-radius: 0px 20px 20px 0px;
}

/* end subscribe */

/* footer */

.footer {
    padding-top: 40px;
}

.footer-container {
    padding: 20px 0 40px 0;
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: 20px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.list-footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-title {
    color: var(--grey-900);
    font-size: 16px;
    font-weight: 500;
    line-height: calc(19/16);
}

.text-footer {
    text-decoration: none;
    color: var(--grey-700);
    font-size: 14px;
    font-weight: 400;
    line-height: calc(16/14);
}

.text-footer:hover {
    color: var(--grey-900);
}

.footer-social {
    display: flex;
    gap: 20px;
}

.footer-social svg:hover path {
    fill: var(--grey-900);
}

.footer-item {
    padding-top: 20px;
}

.footer-item ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

/* end footer */

/* bottom-footer */

.bottom-footer {
    border-top: 1px solid var(--grey-100);
    background: var(--White);
    padding: 8px 0;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
}

.payment {
    display: flex;
    align-items: center;
    gap: 5px;
}

.payment svg {
    width: 70px;
}

.text-bottom {
    display: flex;
    align-items: center;
    color: var(--grey-600);
    font-size: 14px;
    font-weight: 400;
    line-height: calc(16/14);
}

/*  end bottom-footer */

/* scroll to top */

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: var(--grey-500);
    color: var(--White);
    cursor: pointer;
    padding: 10px;
    border-radius: 30px;
}

#scrollToTopBtn:hover {
    background-color: var(--grey-900);
}

/* end scroll to top */