@import url("./tooltip-row.css");
/* product-card */

.container-bigdeals,
.container-bseller,
.container-product {
    position: relative;
    padding: 10px 0 20px 0;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 6px;
    border: 1px solid var(--grey-100);
    background-color: var(--White);
    padding: 20px;
    transition: transform 0.2s ease;
}

.card-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category-product {
    color: var(--grey-700);
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
}

.product-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    color: var(--primary-700);
    font-size: 14px;
    line-height: calc(16/14);
    height: 2rem;
}

.card-body {
    transition: linear 0.25s;
}

.product-img {
    width: 100%;
    height: 200px;
}

.product-card:hover {
    box-shadow: 0px 4px 20px 0px rgba(107, 107, 107, 0.10);
}

.product-card:hover .card-body {
    transform: scale(1.05);
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-price {
    color: var(--grey-900);
    font-size: 18px;
    font-weight: 700;
    line-height: calc(21/18);
}

.action-user {
    position: relative;
}

.icon-product {
    padding-top: 5px;
}

.action-user .icon-content>svg {
    width: 16px;
    height: 16px;
}

.icon-product:not(:last-child) {
    position: absolute;
    opacity: 0;
    top: 0;
    background: transparent;
    transition: ease-in-out 0.25s;
}

.icon-content {
    padding: 10px;
    border-radius: 20px;
    background: var(--grey-200);
}

.icon-product:not(:last-child) .icon-content {
    background-color: var(--White);
    box-shadow: 0px 4px 20px 0px rgba(107, 107, 107, 0.10);
}

.add-compare {
    top: -100%;
}

.product-card:hover .icon-product {
    opacity: 1;
}

.product-card:hover .add-cart .icon-content {
    background-color: var(--primary-600);
}

.product-card:hover .add-listwish {
    top: -100%;
}

.product-card:hover .add-compare {
    top: -200%;
}

.add-listwish .icon-content svg path {
    transition: linear 0.25s;
}

.add-compare .icon-content svg path {
    transition: linear 0.25s;
}

.add-listwish .icon-content:hover>svg path {
    fill: var(--danger-600);
}

.add-compare .icon-content:hover>svg path {
    fill: var(--intro-600);
}


.add-cart .icon-content:hover .tooltip-row {
    opacity: 1;
}

.add-listwish .icon-content:hover .tooltip-row {
    opacity: 1;
}

.add-compare .icon-content:hover .tooltip-row {
    opacity: 1;
}

.pre-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 20px;
    background-color: var(--White);
    position: absolute;
    top: -45px;
    right: 55px;
}

.next-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 20px;
    background-color: var(--White);
    position: absolute;
    top: -45px;
    right: 10px;
}

.pre-item:hover {
    background-color: var(--grey-100);
}

.next-item:hover {
    background-color: var(--grey-100);
}

/* end product-card */

/* product-deals */

.text-deal {
    color: var(--danger-600);
}

.price-deal {
    color: var(--grey-900);
    font-size: 12px;
    font-weight: 500;
    line-height: calc(14/12);
    text-decoration: line-through;
}

/* end product-deals */